/***  Fonts  ***/
@font-face {
  font-family: alatsi;
  src: url(Alatsi-Regular.ttf)
}

@font-face {
  font-family: abel;
  src: url(Abel-Regular.ttf)
}

@font-face {
  font-family: amiko;
  src: url(Amiko-Regular.ttf)
}
/*** Animation ***/
@keyframes submit{
  from {background-color: white;
border: 1px solid white;}
  to {background-color: #ffdee7;
	border: 1px solid #e6124e;}
}

/***  Layout  ***/
html{
	overflow: scroll;
	overflow-x: hidden;	
	padding:0px;
	margin:0px;
	width:100vw;
}

body{
	padding:0px;
	margin:0px;
}

/* Hides the scroll bar*/
html::-webkit-scrollbar {
	width: 0px;		
}


main{ /* Creates background using gradient and repeating pattern*/
	background-image: url(../images/Swirls.png), linear-gradient(#dc4050, #5b0763);
	background-repeat: repeat, no-repeat;
	position: relative;
	margin:0px;
	padding: 15px 4% 30px 4%;
	min-height: calc(100vh - 80px);
	width: 92vw;
	min-width: 480px;
	
}

header{
	margin-top: 20px;
}


content{
	z-index: 2;	
	overflow:scroll;	
	overflow-x:scroll;
	margin-top: 20px;
	margin-bottom: 5px;
}


nav {
	margin-top: 15px;
	font-family: alatsi;
	font-size: 18px;
	display: flex; /* Keeps all the links centered with the logo */
	align-items: center;
}


nav a { /* Transitions to different color when hovering */
	color: white;
  	text-align: center;
  	margin: 6px 16px;
	padding: 3px 8px;
  	text-decoration: none;
	transition: 0.3s;
}

nav .trial, .logout{ /* Creates the button appearance */
	display: box;
	color: #e6124e;
	background-color: white;
	padding: 6px 16px;
	border-radius: 20px;
	border: 1px solid white;
	transition: all 0.3s ease;
}

nav .home{ /* Moves the moosic link closer to the logo*/
	margin-left:-18px;
}

.right{ /* Moves links to the right side*/
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-grow: 1;
}

nav a:hover {
  	color: #ffb1e4;
}

nav .trial:hover, .logout:hover{
	background-color: #ffdee7;
	border: 1px solid #e6124e;
	color: #e6124e;
}

h1{
	font-family: alatsi;
	font-size: 72px;
	color: #ffb1e4;
	margin: 0;
}


footer{
	align-self: flex-end;
	display:flex;
	align-items: center;
	justify-content: center;
	height: 60px;
  	width: 80%;
	font-family: amiko;
  	color: #e6124e;
  	text-align: center;
	background-color: #fff;
	font-size: 18px;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 5px;
}

/*** Responsive ***/

@media (max-width: 755px) { /* When the page is at 755px or smaller*/
  	nav {
		display: flex;  /* Changes the navigation to be in a column rather than a row*/
    	flex-direction: column;
		align-items: center;
  	}
	.right{
		flex-direction: column;
		align-items: center;
	}
	nav .home{
		margin:auto;
		margin-top:-16px;
		margin-bottom: 5px;
	}
	nav .adminnav,.songsnav,.about,.support{
		margin-bottom: -5px;
	}
}
